/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2018, 15:08:18
    Author     : Taffoureau
*/

.btn-primary{
    background-color:#f05837;
    border-color:#285e8e
}
.btn-warning{
    background-color:#f05837;
    border-color:#285e8e
}
.btn-default{
    background-color:#282726;
    border-color:#285e8e
}
.btn-danger{
    background-color:#282726;
    border-color:#285e8e
}