.btn-primary{
    background-color:#f05837;
    border-color:#285e8e
}
.btn-warning{
    background-color:#f05837;
    border-color:#285e8e
}
.btn-default{
    background-color:#282726;
    border-color:#285e8e
}
.btn-danger{
    background-color:#282726;
    border-color:#285e8e
}